.cart-page[b-rz6q7j5vly]{
    position:relative;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction :column;
    background-color:rgba(220, 147, 94, 0.336);
    overflow: scroll;
}
.cart-table[b-rz6q7j5vly]{
    width:80vw;
    margin:2vh 10vw;
    font-size: 0.9rem;
    border-collapse: separate;
    border-spacing: 0 12px;
    display: inline-block;
}
 .cart-img[b-rz6q7j5vly]{
    width:6vw;
    height:10vh;
}
th[b-rz6q7j5vly]{
    font-size:1rem;
    background-color: transparent;
    text-align: center;
    padding: 1vh 1vw;
}
td[b-rz6q7j5vly]{
    text-align: center;
    background-color: rgba(220, 147, 94, 0.393);
    border-right: 1px solid rgba(128, 128, 128, 0.523);
}
h2[b-rz6q7j5vly]{
    margin-top: 5vw;
    margin-left:10vw;
}
h3[b-rz6q7j5vly]{
    position:absolute;
    background-color: rgba(220, 147, 94, 0.393);
    text-align: right;
    padding:2vh 2vw ;
    padding-left: 34.7vw;
    font-weight: bold;
    margin-bottom:10vh;
}
.nothing[b-rz6q7j5vly]{
 margin-top: 5vh;}
 .option[b-rz6q7j5vly]{
    background-color: rgba(255, 218, 191, 0.893);
 }
.remove-btn[b-rz6q7j5vly]{
    font-size: 1.5rem;
    background-color: rgba(255, 218, 191, 0.893);
}
.remove-btn:hover[b-rz6q7j5vly]{
    background-color:rgba(128, 128, 128, 0.594)
}
.quantity-controls button[b-rz6q7j5vly]{
    background-color: rgba(160, 81, 45, 0.527);
}
@media (max-width:600px)
{
.cart-table[b-rz6q7j5vly]{
    width:90vw;
    margin:2vh 2vw;
    font-size: 0.6rem;
}
th[b-rz6q7j5vly]{
    font-size:0.73rem;
}
.cart-table th:nth-child(1)[b-rz6q7j5vly],
.cart-table td:nth-child(1)[b-rz6q7j5vly] {
     visibility: hidden;
}
 .cart-table td:nth-child(1) h3[b-rz6q7j5vly]{
         visibility: visible;
    }
h3[b-rz6q7j5vly]{
    font-size: 0.8rem;
    z-index: 10;
    margin-left:10.5vw;
}
h2[b-rz6q7j5vly]{
    margin-top: 10vh;
    margin-left: 12vw;
    font-size: 1.5rem;
    font-weight: bold;
}
}