/*design for Laptop  */
.welcome-container[b-ry5e9hqu6w]{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:rgba(220, 147, 94, 0.336);
    overflow: hidden;
    box-sizing: border-box;
}
.welcome-image[b-ry5e9hqu6w]{
    width: 85vw;
    height:100vh;
    border-radius: 0 10px 600px 10px;
    filter: blur(1px);
    animation: ImageInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
}
.welcome-text[b-ry5e9hqu6w]{
    background-color: rgb(140, 91, 55);
    box-shadow: 5px 5px 15px 3px rgb(71, 45, 27);
    width:30vw;
    height:25vh;
    left:50px;
    border-radius:200px 10px 0 200px;
    position: absolute;
    margin-left:65vw ;
    margin-top: 50vh;
    padding: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    animation: BackgroundInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
} 
.coffee-name[b-ry5e9hqu6w]{
    margin-left:3vw ;
    color:rgb(161, 137, 105);
    font-size: 3.1rem;
    animation: slideInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
}
.welcome-message[b-ry5e9hqu6w]{
   margin-left:3vw; 
}
@keyframes slideInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    95% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(30px);
    }
}

@keyframes BackgroundInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    95% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}
@keyframes ImageInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*responseive Disgin for Phones */
@media (min-width:300px) and (max-width:600px){
    .welcome-image[b-ry5e9hqu6w]{
        width:100vw;
        height:100vh;
        filter: blur(1px);
        border-radius: 0px;
    }
    .welcome-text[b-ry5e9hqu6w]{
        width:90vw;
        height:30vh;
        margin: 0;
        border-radius:0px 0px 50px 50px;
        left:4.5vw;
        background-color:  rgb(140, 91, 55);
        font-weight: bold;
        font-size: 1.2rem;
        box-shadow: 5px 5px 15px 5px rgb(81, 81, 81);
        animation: BackgroundInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
    }
    .coffee-name[b-ry5e9hqu6w]{
    margin-left:8vw ;
    color:rgb(255, 255, 255);
    font-size: 2.5rem;
    padding-bottom: 1.5vh; 
    }
  @keyframes BackgroundInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
  }
}
/*  Tablets Design */
@media (min-width:601px) and (max-width:1024px){
    .welcome-image[b-ry5e9hqu6w]{
        width:100vw;
        height:100vh;
        filter: blur(2px);
        border-radius: 0px;
        padding-bottom: 3vh;
    }
    .welcome-text[b-ry5e9hqu6w]{
        width:100vw;
        height:25h;
        margin: 0;
        border-radius:500px 500px 0px 0px;
        top:75vh;
        left:0;
        background-color: rgb(140, 91, 55);
        font-weight: bold;
        font-size: 2.1rem;
        box-shadow: 0px 0px 20px 3px rgb(79, 53, 35);
        padding: 9vw;
        animation: BackgroundInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
    }
    .coffee-name[b-ry5e9hqu6w]{
    color:rgb(255, 255, 255);
    font-size: 3.8rem;
    padding-bottom: 0.5vh; 
    padding-left: 20%;
    }
  @keyframes BackgroundInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(20px);
    }
  }
  .welcome-message[b-ry5e9hqu6w]{
    padding-left: 2vw;
  }
}