.HoleComponent[b-6c2154qlfn]{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5vh;
    position: relative;
    overflow: scroll;
    background-color: rgba(220, 147, 94, 0.336);
}
.navbar[b-6c2154qlfn]{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    position: relative;
    top:8vh;
}
.cart-Logo[b-6c2154qlfn]{
   left:8vw;
   position:absolute;
   align-items: flex-start;
   border:none;
   background-color: transparent;
   font-size: 20px;
}
.search-Logo[b-6c2154qlfn]{
left: 80%;
position:absolute;
border:none;
background-color: transparent;
}
.cart-Logo i[b-6c2154qlfn],
.search-Logo i[b-6c2154qlfn] {
    font-size: 30px;
}
.page-Title[b-6c2154qlfn]{
    margin-top:9vh;
    font-size: 2.3rem;
    padding:0px 20px;
    color: black;
}
.page-Title b[b-6c2154qlfn]{
    color:  rgb(140, 91, 55);
}
.Coffee-List[b-6c2154qlfn]{
   justify-content: flex-start;
   width: 100%;
}
.menu-row[b-6c2154qlfn]{
    display:flex;
    flex-direction: row;
    margin-bottom: 5vh;
    padding-left: 10vw;
}
.menu-icon[b-6c2154qlfn] {
    width: 12vw;
    height: 9vh;
}
.menu-name[b-6c2154qlfn]{
    margin-top: 2vh 0;
    margin-left: 4vw;
    position: absolute;
    padding: 4vh 0 2vh 0;
    font-weight: bold;
}
.menu-arrow[b-6c2154qlfn]{
    position: absolute;
    margin-left: 63vw;
    font-weight: bold;
    padding: 3vh 0 2vh 0;
    font-size: 2.3rem;
}
.menu-row:hover[b-6c2154qlfn]{
cursor: pointer;
background-color:  rgba(113, 72, 43, 0.514);
border-radius: 10px;
}
/* Tablets Design */
@media (min-width:601px) and (max-width:1024px){
    .menu-row[b-6c2154qlfn]{
        background-color: rgb(220, 147, 94) ;
        border-radius: 10px;
        box-shadow: 0 0 10px 5px rgba(52, 35, 23, 0.336);
        width: 80%;
        margin-bottom: 5vh;
        margin-left: 10vw;
    }
    .menu-icon[b-6c2154qlfn]{
        margin-left: -6vw;
    } 
    .menu-arrow[b-6c2154qlfn]{
        margin-left:  -10px;
       padding-left: 55vw;
    }
}
/* desktop design */
@media (min-width:1025px) and (max-width:1920px){
    .menu-row[b-6c2154qlfn]{
        background-color: rgb(220, 147, 94) ;
        border-radius: 10px;
        box-shadow: 0 0 10px 5px rgba(52, 35, 23, 0.336);
        width: 70%;
        height: 15vh;
        margin-bottom: 5vh;
        margin-left: 15vw;
    }
    .menu-icon[b-6c2154qlfn]{
        margin-left: -6vw;
        margin-top: 20px;
    } 
    .menu-arrow[b-6c2154qlfn]{
        margin-left:  -10vw;
       padding-left: 55vw;
    }
    .menu-name[b-6c2154qlfn]{
        margin-top: 1vh;
        font-size: 1.9rem;
    }
}