.details-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100vw;
    height:100vh;
    background-color: rgba(220, 147, 94, 0.336);
}
.header{
    display:flex;
    flex-direction: row;
    margin-left: 20vw;
    background-color: transparent;
    color: white;
}
.back-button{
    border:none;
    font-size: 2rem;
    background:transparent;
     color: white;
}
.details-title{
    margin-left: 9vw;
    font-size:1.2rem;
    font-weight: bold;
    margin-top: 2vh;
}
.details-image{
 margin-top: -10vh;
    width: 80vw;
    height:45vh;
    margin-left: 7vw;
    z-index: -1;
    filter:blur(1px);
    filter: grayscale(0.6);
}
.details-info{
    margin-left:14vw;
    margin-top:4vh;
}
.details-info .details-title{
    margin-left:-0.2vw;
    font-size:0.9rem;
}
.details-price{
    margin-top: 5vh;
    color:  rgb(140, 91, 55);
}
.qty-box{
    display: flex;
    flex-direction: row;
    position:relative;
    margin-left: 55vw;
    margin-top: -5vh;
    background-color: rgba(140, 90, 55, 0.537);
    padding: 5px;
    border-radius:10px;
    width: 77px;
}
.qty-box button{
    border:none;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.884);
    width: 20px;
    height:20px;
    font-weight: 900;
    margin-top: 0.5vh;
    padding: 1px;
}
.increase-button{
    margin-left: 1.1vw;
}
.qty-box span{
    margin-left:1.3vw;
    font-weight: 900;
}
.details-sizes{
    margin-top:6vh;
    font-weight: bold;
}
.details-sizes button{
    border-radius: 10px;
    background-color: rgba(159, 157, 157, 0.884);
    color:black;
    border:2px solid rgb(59, 59, 59);
    padding: 0px 10px;
    margin-right: 1vw;
    font-size: 1rem;
}
.details-sizes h3{
    font-weight: 400;
    font-size: 1.9rem;
}
.add-to-cart{
    border:none;
    padding:10px 30px;
    margin-left:29vw;
    background-color:rgba(140, 90, 55, 0.537);
    margin-top: 7.5vh;
    border-radius:15px;
}
.add-to-cart:hover{
    cursor: pointer;
    background-color: rgb(140, 91, 55);
    color:white;
}
.details-sizes button:hover{
     cursor: pointer;
    background-color: rgb(140, 91, 55);
    color:white;
}
.qty-box button:hover{
     cursor: pointer;
    background-color: rgb(140, 91, 55);
    color:white;
}
.active-size {
    font-weight: 900;
}