/*design for Laptop  */
.welcome-container{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(95, 91, 91, 0.726);
    overflow: hidden;
    box-sizing: border-box;
}
.welcome-image{
    width: 85vw;
    height:100vh;
    border-radius: 0 10px 600px 10px;
    filter: blur(1px);
    animation: ImageInOut 5s ease-in-out forwards;
}
.welcome-text{
      background-color: rgb(210, 210, 0);;
    box-shadow: 5px 5px 15px 3px rgba(181, 181, 13, 0.9);;
    width:30vw;
    height:25vh;
    left:50px;
    border-radius:200px 10px 0 200px;
    position: absolute;
    margin-left:65vw ;
    margin-top: 50vh;
    padding: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    animation: BackgroundInOut 5s ease-in-out forwards;
} 
.coffee-name{
    margin-left:3vw ;
    color:rgb(255, 255, 255);
    font-size: 3.1rem;
    animation: slideInOut 5s ease-in-out forwards;
}
.welcome-message{
   margin-left:3vw; 
}
@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    95% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(30px);
    }
}

@keyframes BackgroundInOut {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    95% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}
@keyframes ImageInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*responseive Disgin for Phones */
@media (min-width:300px) and (max-width:600px){
    .welcome-image{
        width:100vw;
        height:100vh;
        filter: blur(1px);
        border-radius: 0px;
    }
    .welcome-text{
        width:90vw;
        height:30vh;
        margin: 0;
        border-radius:0px 0px 50px 50px;
        left:4.5vw;
        background-color: rgb(210, 210, 0);
        font-weight: bold;
        font-size: 1.2rem;
        box-shadow: 5px 5px 15px 5px rgb(81, 81, 81);
        animation: BackgroundInOut 5s ease-in-out forwards;
    }
    .coffee-name{
    margin-left:8vw ;
    color:rgb(255, 255, 255);
    font-size: 2.5rem;
    padding-bottom: 1.5vh; 
    }
  @keyframes BackgroundInOut {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
  }
}
/*  Tablets Design */
@media (min-width:601px) and (max-width:1024px){
    .welcome-image{
        width:100vw;
        height:100vh;
        filter: blur(2px);
        border-radius: 0px;
        padding-bottom: 3vh;
    }
    .welcome-text{
        width:100vw;
        height:25h;
        margin: 0;
        border-radius:500px 500px 0px 0px;
        top:75vh;
        left:0;
        background-color: rgb(210, 210, 0);
        font-weight: bold;
        font-size: 2.1rem;
        box-shadow: 0px 0px 20px 3px rgba(255, 251, 1, 0.712);
        padding: 9vw;
        animation: BackgroundInOut 5s ease-in-out forwards;
    }
    .coffee-name{
    color:rgb(255, 255, 255);
    font-size: 3.8rem;
    padding-bottom: 0.5vh; 
    padding-left: 20%;
    }
  @keyframes BackgroundInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(20px);
    }
  }
  .welcome-message{
    padding-left: 2vw;
  }
}