.cart-page{
    width:100vw;
    height:100Vh;
    display: flex;
    flex-direction :column;
    background-color:rgba(220, 147, 94, 0.336)
}
.cart-table{
    width:80vw;
    margin:2vh 10vw;
    font-size: 0.9rem;
    border-collapse: separate;
    border-spacing: 0 12px;
    display: inline-block;
}
 .cart-img{
    width:6vw;
    height:10vh;
}
th{
    font-size:1rem;
    background-color: transparent;
    text-align: center;
    padding: 1vh 1vw;
}
td{
    text-align: center;
    background-color: rgba(220, 147, 94, 0.393);
    border-right: 1px solid rgba(128, 128, 128, 0.523);
}
h2{
    margin-top: 5vw;
    margin-left:10vw;
}
h3{
    position :absolute;
    background-color:rgba(220, 147, 94, 0.393);
    width: 50vw;
    text-align: end;
    padding:5px;
}

@media (max-width:600px)
{
.cart-table{
    width:90vw;
    margin:2vh 2vw;
    font-size: 0.65rem;
}
th{
    font-size:0.78rem;
}
.cart-table th:nth-child(1),
.cart-table td:nth-child(1) {
    display: none;
}
h3{
position :absolute;
width: 80vw;
}
}