.cart-page{
    position:relative;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction :column;
    background-color:rgba(220, 147, 94, 0.336);
    overflow: scroll;
}
.cart-table{
    width:80vw;
    margin:2vh 10vw;
    font-size: 0.9rem;
    border-collapse: separate;
    border-spacing: 0 12px;
    display: inline-block;
}
 .cart-img{
    width:6vw;
    height:10vh;
}
th{
    font-size:1rem;
    background-color: transparent;
    text-align: center;
    padding: 1vh 1vw;
}
td{
    text-align: center;
    background-color: rgba(220, 147, 94, 0.393);
    border-right: 1px solid rgba(128, 128, 128, 0.523);
}
h2{
    margin-top: 5vw;
    margin-left:10vw;
}
h3{
    position:absolute;
    background-color: rgba(220, 147, 94, 0.393);
    text-align: right;
    padding:2vh 2vw ;
    padding-left: 34.7vw;
    font-weight: bold;
    margin-bottom:10vh;
}
.nothing{
 margin-top: 5vh;}
 .option{
    background-color: rgba(255, 218, 191, 0.893);
 }
.remove-btn{
    font-size: 1.5rem;
    background-color: rgba(255, 218, 191, 0.893);
}
.remove-btn:hover{
    background-color:rgba(128, 128, 128, 0.594)
}
.quantity-controls button{
    background-color: rgba(160, 81, 45, 0.527);
}
.back-button{
    width: 3vw;
    margin-top: 8vh;
    margin-left: 10vw;
}
p{
    margin-left: 10vw;
    margin-top: 3vh;
    color:red;
}
@media (max-width:600px)
{
.cart-table{
    width:90vw;
    margin:2vh 2vw;
    font-size: 0.6rem;
}
th{
    font-size:0.73rem;
}
.cart-table th:nth-child(1),
.cart-table td:nth-child(1) {
     visibility: hidden;
}
 .cart-table td:nth-child(1) h3{
         visibility: visible;
    }
h3{
    font-size: 0.8rem;
    z-index: 10;
    margin-left:10.5vw;
}
h2{
    margin-top: 10vh;
    margin-left: 12vw;
    font-size: 1.5rem;
    font-weight: bold;
}
}