/* _content/BlazorUI/Pages/CartPage.razor.rz.scp.css */
.cart-page[b-rz6q7j5vly]{
    position:relative;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction :column;
    background-color:rgba(220, 147, 94, 0.336);
    overflow: scroll;
}
.cart-table[b-rz6q7j5vly]{
    width:80vw;
    margin:2vh 10vw;
    font-size: 0.9rem;
    border-collapse: separate;
    border-spacing: 0 12px;
    display: inline-block;
}
 .cart-img[b-rz6q7j5vly]{
    width:6vw;
    height:10vh;
}
th[b-rz6q7j5vly]{
    font-size:1rem;
    background-color: transparent;
    text-align: center;
    padding: 1vh 1vw;
}
td[b-rz6q7j5vly]{
    text-align: center;
    background-color: rgba(220, 147, 94, 0.393);
    border-right: 1px solid rgba(128, 128, 128, 0.523);
}
h2[b-rz6q7j5vly]{
    margin-top: 5vw;
    margin-left:10vw;
}
h3[b-rz6q7j5vly]{
    position:absolute;
    background-color: rgba(220, 147, 94, 0.393);
    text-align: right;
    padding:2vh 2vw ;
    padding-left: 34.7vw;
    font-weight: bold;
    margin-bottom:10vh;
}
.nothing[b-rz6q7j5vly]{
 margin-top: 5vh;}
 .option[b-rz6q7j5vly]{
    background-color: rgba(255, 218, 191, 0.893);
 }
.remove-btn[b-rz6q7j5vly]{
    font-size: 1.5rem;
    background-color: rgba(255, 218, 191, 0.893);
}
.remove-btn:hover[b-rz6q7j5vly]{
    background-color:rgba(128, 128, 128, 0.594)
}
.quantity-controls button[b-rz6q7j5vly]{
    background-color: rgba(160, 81, 45, 0.527);
}
@media (max-width:600px)
{
.cart-table[b-rz6q7j5vly]{
    width:90vw;
    margin:2vh 2vw;
    font-size: 0.6rem;
}
th[b-rz6q7j5vly]{
    font-size:0.73rem;
}
.cart-table th:nth-child(1)[b-rz6q7j5vly],
.cart-table td:nth-child(1)[b-rz6q7j5vly] {
     visibility: hidden;
}
 .cart-table td:nth-child(1) h3[b-rz6q7j5vly]{
         visibility: visible;
    }
h3[b-rz6q7j5vly]{
    font-size: 0.8rem;
    z-index: 10;
    margin-left:10.5vw;
}
h2[b-rz6q7j5vly]{
    margin-top: 10vh;
    margin-left: 12vw;
    font-size: 1.5rem;
    font-weight: bold;
}
}
/* _content/BlazorUI/Pages/Details.razor.rz.scp.css */
.details-page[b-qqqo9wf28b]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100vw;
    height:100vh;
    background-color: rgba(220, 147, 94, 0.336);
    overflow:hidden;
}
.header[b-qqqo9wf28b]{
    display:flex;
    flex-direction: row;
    margin-left: 20vw;
    background-color: transparent;
    color: white;
}
.back-button[b-qqqo9wf28b]{
    border:none;
    font-size: 2rem;
    background:transparent;
}
.back-button:hover[b-qqqo9wf28b]{
    background-color: rgba(118, 117, 117, 0.591);
    border-radius: 20px;
}
.details-title[b-qqqo9wf28b]{
    margin-left: 9vw;
    font-size:1.2rem;
    font-weight: bold;
    margin-top: 2vh;
}
.details-image[b-qqqo9wf28b]{
 margin-top: -10vh;
    width: 80vw;
    height:45vh;
    margin-left: 7vw;
    z-index: -1;
    filter:blur(1px);
    filter: grayscale(0.6);
}
.details-info[b-qqqo9wf28b]{
    margin-left:14vw;
    margin-top:4vh;
}
.details-info .details-title[b-qqqo9wf28b]{
    margin-left:-0.2vw;
    font-size:0.9rem;
}
.details-price[b-qqqo9wf28b]{
    margin-top: 5vh;
    color:  rgb(140, 91, 55);
}
.qty-box[b-qqqo9wf28b]{
    display: flex;
    flex-direction: row;
    position:relative;
    margin-left: 55vw;
    margin-top: -5vh;
    background-color: rgba(140, 90, 55, 0.537);
    padding: 5px;
    border-radius:10px;
    width: 77px;
}
.qty-box button[b-qqqo9wf28b]{
    border:none;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.884);
    width: 20px;
    height:20px;
    font-weight: 900;
    margin-top: 0.5vh;
    padding: 1px;
}
.increase-button[b-qqqo9wf28b]{
    margin-left: 1.1vw;
}
.qty-box span[b-qqqo9wf28b]{
    margin-left:1.3vw;
    font-weight: 900;
}
.details-sizes[b-qqqo9wf28b]{
    margin-top:6vh;
    font-weight: bold;
}
.details-sizes button[b-qqqo9wf28b]{
    border-radius: 10px;
    background-color: rgba(159, 157, 157, 0.884);
    color:black;
    border:2px solid rgb(59, 59, 59);
    padding: 0px 10px;
    margin-right: 1vw;
    font-size: 1rem;
}
.details-sizes h3[b-qqqo9wf28b]{
    font-weight: 400;
    font-size: 1.9rem;
}
.add-to-cart[b-qqqo9wf28b]{
    border:none;
    padding:10px 30px;
    margin-left:29vw;
    background-color:rgba(140, 90, 55, 0.537);
    margin-top: 7.5vh;
    border-radius:15px;
}
.add-to-cart:hover[b-qqqo9wf28b]{
    cursor: pointer;
    background-color: rgb(140, 91, 55);
    color:white;
}
.details-sizes button:hover[b-qqqo9wf28b]{
     cursor: pointer;
    background-color: rgb(140, 91, 55);
    color:white;
}
.qty-box button:hover[b-qqqo9wf28b]{
     cursor: pointer;
    background-color: rgb(140, 91, 55);
    color:white;
}
.active-size[b-qqqo9wf28b] {
    font-weight: 900;
}
@media (min-width:1025px) and (max-width:1900px){
    .blob[b-qqqo9wf28b] {
     position:absolute;
    left:40vw;
    top:-50vh;
    width: 80vw;
    height: 60vh;
    opacity: 0.9;
    }
    .details-image[b-qqqo9wf28b]{
        width:40vw;
        height:70vh;
        left:50vw;
        margin-top:3vh;
        position: absolute;
        z-index: 10;
        border-radius: 400px;
        filter:blur(1.3px);
    }
    .header[b-qqqo9wf28b]{
        margin-top:10vh;
        margin-left: 5vw;
        color:black;
    }
    .details-title[b-qqqo9wf28b]{
        font-size:2.9rem;
        margin-left:5vw;
    }
    .back-button[b-qqqo9wf28b]{
        font-size: 3rem;
    }
.details-info[b-qqqo9wf28b]{
    margin-left:5vw;
    font-size: 2rem;
    margin-top:5vh
}
.qty-box[b-qqqo9wf28b]{
    margin-left:23vw;
    margin-top: -8vh;
    font-size: 1rem;
}
.add-to-cart[b-qqqo9wf28b]{
margin-left: 15vw;
}
}
/* _content/BlazorUI/Pages/MenuPage.razor.rz.scp.css */
.HoleComponent[b-6c2154qlfn]{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5vh;
    position: relative;
    overflow: scroll;
    background-color: rgba(220, 147, 94, 0.336);
}
.navbar[b-6c2154qlfn]{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    position: relative;
    top:8vh;
}
.cart-Logo[b-6c2154qlfn]{
   left:8vw;
   position:absolute;
   align-items: flex-start;
   border:none;
   background-color: transparent;
   font-size: 20px;
}
.search-Logo[b-6c2154qlfn]{
left: 80%;
position:absolute;
border:none;
background-color: transparent;
}
.cart-Logo i[b-6c2154qlfn],
.search-Logo i[b-6c2154qlfn] {
    font-size: 30px;
}
.page-Title[b-6c2154qlfn]{
    margin-top:9vh;
    font-size: 2.3rem;
    padding:0px 20px;
    color: black;
}
.page-Title b[b-6c2154qlfn]{
    color:  rgb(140, 91, 55);
}
.Coffee-List[b-6c2154qlfn]{
   justify-content: flex-start;
   width: 100%;
}
.menu-row[b-6c2154qlfn]{
    display:flex;
    flex-direction: row;
    margin-bottom: 5vh;
    padding-left: 10vw;
}
.menu-icon[b-6c2154qlfn] {
    width: 12vw;
    height: 9vh;
}
.menu-name[b-6c2154qlfn]{
    margin-top: 2vh 0;
    margin-left: 4vw;
    position: absolute;
    padding: 4vh 0 2vh 0;
    font-weight: bold;
}
.menu-arrow[b-6c2154qlfn]{
    position: absolute;
    margin-left: 63vw;
    font-weight: bold;
    padding: 3vh 0 2vh 0;
    font-size: 2.3rem;
}
.menu-row:hover[b-6c2154qlfn]{
cursor: pointer;
background-color:  rgba(113, 72, 43, 0.514);
border-radius: 10px;
}
/* Tablets Design */
@media (min-width:601px) and (max-width:1024px){
    .menu-row[b-6c2154qlfn]{
        background-color: rgb(220, 147, 94) ;
        border-radius: 10px;
        box-shadow: 0 0 10px 5px rgba(52, 35, 23, 0.336);
        width: 80%;
        margin-bottom: 5vh;
        margin-left: 10vw;
    }
    .menu-icon[b-6c2154qlfn]{
        margin-left: -6vw;
    } 
    .menu-arrow[b-6c2154qlfn]{
        margin-left:  -10px;
       padding-left: 55vw;
    }
}
/* desktop design */
@media (min-width:1025px) and (max-width:1920px){
    .menu-row[b-6c2154qlfn]{
        background-color: rgb(220, 147, 94) ;
        border-radius: 10px;
        box-shadow: 0 0 10px 5px rgba(52, 35, 23, 0.336);
        width: 70%;
        height: 15vh;
        margin-bottom: 5vh;
        margin-left: 15vw;
    }
    .menu-icon[b-6c2154qlfn]{
        margin-left: -6vw;
        margin-top: 20px;
    } 
    .menu-arrow[b-6c2154qlfn]{
        margin-left:  -10vw;
       padding-left: 55vw;
    }
    .menu-name[b-6c2154qlfn]{
        margin-top: 1vh;
        font-size: 1.9rem;
    }
}
/* _content/BlazorUI/Pages/Welcome.razor.rz.scp.css */
/*design for Laptop  */
.welcome-container[b-ry5e9hqu6w]{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:rgba(220, 147, 94, 0.336);
    overflow: hidden;
    box-sizing: border-box;
}
.welcome-image[b-ry5e9hqu6w]{
    width: 85vw;
    height:100vh;
    border-radius: 0 10px 600px 10px;
    filter: blur(1px);
    animation: ImageInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
}
.welcome-text[b-ry5e9hqu6w]{
    background-color: rgb(140, 91, 55);
    box-shadow: 5px 5px 15px 3px rgb(71, 45, 27);
    width:30vw;
    height:25vh;
    left:50px;
    border-radius:200px 10px 0 200px;
    position: absolute;
    margin-left:65vw ;
    margin-top: 50vh;
    padding: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    animation: BackgroundInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
} 
.coffee-name[b-ry5e9hqu6w]{
    margin-left:3vw ;
    color:rgb(161, 137, 105);
    font-size: 3.1rem;
    animation: slideInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
}
.welcome-message[b-ry5e9hqu6w]{
   margin-left:3vw; 
}
@keyframes slideInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    95% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(30px);
    }
}

@keyframes BackgroundInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    95% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}
@keyframes ImageInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*responseive Disgin for Phones */
@media (min-width:300px) and (max-width:600px){
    .welcome-image[b-ry5e9hqu6w]{
        width:100vw;
        height:100vh;
        filter: blur(1px);
        border-radius: 0px;
    }
    .welcome-text[b-ry5e9hqu6w]{
        width:90vw;
        height:30vh;
        margin: 0;
        border-radius:0px 0px 50px 50px;
        left:4.5vw;
        background-color:  rgb(140, 91, 55);
        font-weight: bold;
        font-size: 1.2rem;
        box-shadow: 5px 5px 15px 5px rgb(81, 81, 81);
        animation: BackgroundInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
    }
    .coffee-name[b-ry5e9hqu6w]{
    margin-left:8vw ;
    color:rgb(255, 255, 255);
    font-size: 2.5rem;
    padding-bottom: 1.5vh; 
    }
  @keyframes BackgroundInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
  }
}
/*  Tablets Design */
@media (min-width:601px) and (max-width:1024px){
    .welcome-image[b-ry5e9hqu6w]{
        width:100vw;
        height:100vh;
        filter: blur(2px);
        border-radius: 0px;
        padding-bottom: 3vh;
    }
    .welcome-text[b-ry5e9hqu6w]{
        width:100vw;
        height:25h;
        margin: 0;
        border-radius:500px 500px 0px 0px;
        top:75vh;
        left:0;
        background-color: rgb(140, 91, 55);
        font-weight: bold;
        font-size: 2.1rem;
        box-shadow: 0px 0px 20px 3px rgb(79, 53, 35);
        padding: 9vw;
        animation: BackgroundInOut-b-ry5e9hqu6w 5s ease-in-out forwards;
    }
    .coffee-name[b-ry5e9hqu6w]{
    color:rgb(255, 255, 255);
    font-size: 3.8rem;
    padding-bottom: 0.5vh; 
    padding-left: 20%;
    }
  @keyframes BackgroundInOut-b-ry5e9hqu6w {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(20px);
    }
  }
  .welcome-message[b-ry5e9hqu6w]{
    padding-left: 2vw;
  }
}
/* _content/BlazorUI/Shared/MainLayout.razor.rz.scp.css */
.page[b-9locippnay] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-9locippnay] {
    flex: 1;
}

.sidebar[b-9locippnay] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-9locippnay] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-9locippnay]  a, .top-row .btn-link[b-9locippnay] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-9locippnay] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-9locippnay] {
        display: none;
    }

    .top-row.auth[b-9locippnay] {
        justify-content: space-between;
    }

    .top-row a[b-9locippnay], .top-row .btn-link[b-9locippnay] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-9locippnay] {
        flex-direction: row;
    }

    .sidebar[b-9locippnay] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-9locippnay] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-9locippnay], article[b-9locippnay] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorUI/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-im1vr98q65] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-im1vr98q65] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-im1vr98q65] {
    font-size: 1.1rem;
}

.oi[b-im1vr98q65] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-im1vr98q65] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-im1vr98q65] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-im1vr98q65] {
        padding-bottom: 1rem;
    }

    .nav-item[b-im1vr98q65]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-im1vr98q65]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-im1vr98q65]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-im1vr98q65] {
        display: none;
    }

    .collapse[b-im1vr98q65] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-im1vr98q65] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
